-- Check Constraint Disable's for Table: [dbo].[Order Details]
Print 'Check Constraint Disable''s for Table: [dbo].[Order Details]'
ALTER TABLE [dbo].[Order Details] NOCHECK CONSTRAINT [CK_Discount]
ALTER TABLE [dbo].[Order Details] NOCHECK CONSTRAINT [CK_Quantity]
ALTER TABLE [dbo].[Order Details] NOCHECK CONSTRAINT [CK_UnitPrice]

-- Foreign Key Constraint Disable's for Table: [dbo].[Order Details]
Print 'Foreign Key Constraint Disable''s for Table: [dbo].[Order Details]'
ALTER TABLE [dbo].[Order Details] NOCHECK CONSTRAINT [FK_Order_Details_Orders]
ALTER TABLE [dbo].[Order Details] NOCHECK CONSTRAINT [FK_Order_Details_Products]


-- Insert scripts for table: Order Details
PRINT 'Inserting rows into table: Order Details'
INSERT INTO [dbo].[Order Details] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (10248, 11, 14.0000, 12, 0)
INSERT INTO [dbo].[Order Details] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (10248, 42, 9.8000, 10, 0)
INSERT INTO [dbo].[Order Details] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (10248, 72, 34.8000, 5, 0)
GO


