-- Check Constraint Disable's for Table: [dbo].[Products]
Print 'Check Constraint Disable''s for Table: [dbo].[Products]'
ALTER TABLE [dbo].[Products] NOCHECK CONSTRAINT [CK_Products_UnitPrice]
ALTER TABLE [dbo].[Products] NOCHECK CONSTRAINT [CK_ReorderLevel]
ALTER TABLE [dbo].[Products] NOCHECK CONSTRAINT [CK_UnitsInStock]
ALTER TABLE [dbo].[Products] NOCHECK CONSTRAINT [CK_UnitsOnOrder]

-- Foreign Key Constraint Disable's for Table: [dbo].[Products]
Print 'Foreign Key Constraint Disable''s for Table: [dbo].[Products]'
ALTER TABLE [dbo].[Products] NOCHECK CONSTRAINT [FK_Products_Categories]
ALTER TABLE [dbo].[Products] NOCHECK CONSTRAINT [FK_Products_Suppliers]


-- Insert scripts for table: Products
PRINT 'Inserting rows into table: Products'
SET IDENTITY_INSERT [dbo].[Products] ON

INSERT INTO [dbo].[Products] ([ProductID], [ProductName], [SupplierID], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (1, N'Chai', 1, 1, N'10 boxes x 20 bags', 18.0000, 39, 0, 10, 0)
INSERT INTO [dbo].[Products] ([ProductID], [ProductName], [SupplierID], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (2, N'Chang', 1, 1, N'24 - 12 oz bottles', 19.0000, 17, 40, 25, 0)
INSERT INTO [dbo].[Products] ([ProductID], [ProductName], [SupplierID], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (3, N'Aniseed Syrup', 1, 2, N'12 - 550 ml bottles', 10.0000, 13, 70, 25, 0)
GO

SET IDENTITY_INSERT [dbo].[Products] OFF


