-- Check Constraint Disable's for Table: [dbo].[Employees]
Print 'Check Constraint Disable''s for Table: [dbo].[Employees]'
ALTER TABLE [dbo].[Employees] NOCHECK CONSTRAINT [CK_Birthdate]

-- Foreign Key Constraint Disable's for Table: [dbo].[Employees]
Print 'Foreign Key Constraint Disable''s for Table: [dbo].[Employees]'
ALTER TABLE [dbo].[Employees] NOCHECK CONSTRAINT [FK_Employees_Employees]


-- Insert scripts for table: Employees
PRINT 'Inserting rows into table: Employees'
SET IDENTITY_INSERT [dbo].[Employees] ON

GO

SET IDENTITY_INSERT [dbo].[Employees] OFF


