-- Foreign Key Constraint Disable's for Table: [dbo].[Territories]
Print 'Foreign Key Constraint Disable''s for Table: [dbo].[Territories]'
ALTER TABLE [dbo].[Territories] NOCHECK CONSTRAINT [FK_Territories_Region]


-- Insert scripts for table: Territories
PRINT 'Inserting rows into table: Territories'
INSERT INTO [dbo].[Territories] ([TerritoryID], [TerritoryDescription], [RegionID]) VALUES (N'01581', N'Westboro                                          ', 1)
INSERT INTO [dbo].[Territories] ([TerritoryID], [TerritoryDescription], [RegionID]) VALUES (N'01730', N'Bedford                                           ', 1)
INSERT INTO [dbo].[Territories] ([TerritoryID], [TerritoryDescription], [RegionID]) VALUES (N'01833', N'Georgetow                                         ', 1)
GO


