-- Foreign Key Constraint Disable's for Table: [dbo].[EmployeeTerritories]
Print 'Foreign Key Constraint Disable''s for Table: [dbo].[EmployeeTerritories]'
ALTER TABLE [dbo].[EmployeeTerritories] NOCHECK CONSTRAINT [FK_EmployeeTerritories_Employees]
ALTER TABLE [dbo].[EmployeeTerritories] NOCHECK CONSTRAINT [FK_EmployeeTerritories_Territories]


-- Insert scripts for table: EmployeeTerritories
PRINT 'Inserting rows into table: EmployeeTerritories'
INSERT INTO [dbo].[EmployeeTerritories] ([EmployeeID], [TerritoryID]) VALUES (1, N'06897')
INSERT INTO [dbo].[EmployeeTerritories] ([EmployeeID], [TerritoryID]) VALUES (1, N'19713')
INSERT INTO [dbo].[EmployeeTerritories] ([EmployeeID], [TerritoryID]) VALUES (2, N'01581')
GO


