-- Foreign Key Constraint Disable's for Table: [HumanResources].[JobCandidate]
Print 'Foreign Key Constraint Disable''s for Table: [HumanResources].[JobCandidate]'
ALTER TABLE [HumanResources].[JobCandidate] NOCHECK CONSTRAINT [FK_JobCandidate_Employee_BusinessEntityID]


-- Insert scripts for table: JobCandidate
PRINT 'Inserting rows into table: JobCandidate'
SET IDENTITY_INSERT [HumanResources].[JobCandidate] ON

GO

SET IDENTITY_INSERT [HumanResources].[JobCandidate] OFF


