-- Check Constraint Disable's for Table: [HumanResources].[EmployeeDepartmentHistory]
Print 'Check Constraint Disable''s for Table: [HumanResources].[EmployeeDepartmentHistory]'
ALTER TABLE [HumanResources].[EmployeeDepartmentHistory] NOCHECK CONSTRAINT [CK_EmployeeDepartmentHistory_EndDate]

-- Foreign Key Constraint Disable's for Table: [HumanResources].[EmployeeDepartmentHistory]
Print 'Foreign Key Constraint Disable''s for Table: [HumanResources].[EmployeeDepartmentHistory]'
ALTER TABLE [HumanResources].[EmployeeDepartmentHistory] NOCHECK CONSTRAINT [FK_EmployeeDepartmentHistory_Department_DepartmentID]
ALTER TABLE [HumanResources].[EmployeeDepartmentHistory] NOCHECK CONSTRAINT [FK_EmployeeDepartmentHistory_Employee_BusinessEntityID]
ALTER TABLE [HumanResources].[EmployeeDepartmentHistory] NOCHECK CONSTRAINT [FK_EmployeeDepartmentHistory_Shift_ShiftID]


-- Insert scripts for table: EmployeeDepartmentHistory
PRINT 'Inserting rows into table: EmployeeDepartmentHistory'
INSERT INTO [HumanResources].[EmployeeDepartmentHistory] ([BusinessEntityID], [DepartmentID], [ShiftID], [StartDate], [EndDate], [ModifiedDate]) VALUES (1, 16, 1, '2009-01-14', NULL, '20090113 00:00:00')
INSERT INTO [HumanResources].[EmployeeDepartmentHistory] ([BusinessEntityID], [DepartmentID], [ShiftID], [StartDate], [EndDate], [ModifiedDate]) VALUES (2, 1, 1, '2008-01-31', NULL, '20080130 00:00:00')
INSERT INTO [HumanResources].[EmployeeDepartmentHistory] ([BusinessEntityID], [DepartmentID], [ShiftID], [StartDate], [EndDate], [ModifiedDate]) VALUES (3, 1, 1, '2007-11-11', NULL, '20071110 00:00:00')
GO


