-- Check Constraint Disable's for Table: [HumanResources].[EmployeePayHistory]
Print 'Check Constraint Disable''s for Table: [HumanResources].[EmployeePayHistory]'
ALTER TABLE [HumanResources].[EmployeePayHistory] NOCHECK CONSTRAINT [CK_EmployeePayHistory_PayFrequency]
ALTER TABLE [HumanResources].[EmployeePayHistory] NOCHECK CONSTRAINT [CK_EmployeePayHistory_Rate]

-- Foreign Key Constraint Disable's for Table: [HumanResources].[EmployeePayHistory]
Print 'Foreign Key Constraint Disable''s for Table: [HumanResources].[EmployeePayHistory]'
ALTER TABLE [HumanResources].[EmployeePayHistory] NOCHECK CONSTRAINT [FK_EmployeePayHistory_Employee_BusinessEntityID]


-- Insert scripts for table: EmployeePayHistory
PRINT 'Inserting rows into table: EmployeePayHistory'
INSERT INTO [HumanResources].[EmployeePayHistory] ([BusinessEntityID], [RateChangeDate], [Rate], [PayFrequency], [ModifiedDate]) VALUES (1, '20090114 00:00:00', 125.5000, 2, '20140630 00:00:00')
INSERT INTO [HumanResources].[EmployeePayHistory] ([BusinessEntityID], [RateChangeDate], [Rate], [PayFrequency], [ModifiedDate]) VALUES (2, '20080131 00:00:00', 63.4615, 2, '20140630 00:00:00')
INSERT INTO [HumanResources].[EmployeePayHistory] ([BusinessEntityID], [RateChangeDate], [Rate], [PayFrequency], [ModifiedDate]) VALUES (3, '20071111 00:00:00', 43.2692, 2, '20140630 00:00:00')
GO


