-- Check Constraint Disable's for Table: [Production].[ProductListPriceHistory]
Print 'Check Constraint Disable''s for Table: [Production].[ProductListPriceHistory]'
ALTER TABLE [Production].[ProductListPriceHistory] NOCHECK CONSTRAINT [CK_ProductListPriceHistory_EndDate]
ALTER TABLE [Production].[ProductListPriceHistory] NOCHECK CONSTRAINT [CK_ProductListPriceHistory_ListPrice]

-- Foreign Key Constraint Disable's for Table: [Production].[ProductListPriceHistory]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductListPriceHistory]'
ALTER TABLE [Production].[ProductListPriceHistory] NOCHECK CONSTRAINT [FK_ProductListPriceHistory_Product_ProductID]


-- Insert scripts for table: ProductListPriceHistory
PRINT 'Inserting rows into table: ProductListPriceHistory'
INSERT INTO [Production].[ProductListPriceHistory] ([ProductID], [StartDate], [EndDate], [ListPrice], [ModifiedDate]) VALUES (707, '20110531 00:00:00', '20120529 00:00:00', 33.6442, '20120529 00:00:00')
INSERT INTO [Production].[ProductListPriceHistory] ([ProductID], [StartDate], [EndDate], [ListPrice], [ModifiedDate]) VALUES (707, '20120530 00:00:00', '20130529 00:00:00', 33.6442, '20130529 00:00:00')
INSERT INTO [Production].[ProductListPriceHistory] ([ProductID], [StartDate], [EndDate], [ListPrice], [ModifiedDate]) VALUES (707, '20130530 00:00:00', NULL, 34.9900, '20130509 00:00:00')
GO


