-- Check Constraint Disable's for Table: [Sales].[SalesPerson]
Print 'Check Constraint Disable''s for Table: [Sales].[SalesPerson]'
ALTER TABLE [Sales].[SalesPerson] NOCHECK CONSTRAINT [CK_SalesPerson_SalesQuota]
ALTER TABLE [Sales].[SalesPerson] NOCHECK CONSTRAINT [CK_SalesPerson_Bonus]
ALTER TABLE [Sales].[SalesPerson] NOCHECK CONSTRAINT [CK_SalesPerson_CommissionPct]
ALTER TABLE [Sales].[SalesPerson] NOCHECK CONSTRAINT [CK_SalesPerson_SalesYTD]
ALTER TABLE [Sales].[SalesPerson] NOCHECK CONSTRAINT [CK_SalesPerson_SalesLastYear]

-- Foreign Key Constraint Disable's for Table: [Sales].[SalesPerson]
Print 'Foreign Key Constraint Disable''s for Table: [Sales].[SalesPerson]'
ALTER TABLE [Sales].[SalesPerson] NOCHECK CONSTRAINT [FK_SalesPerson_Employee_BusinessEntityID]
ALTER TABLE [Sales].[SalesPerson] NOCHECK CONSTRAINT [FK_SalesPerson_SalesTerritory_TerritoryID]


-- Insert scripts for table: SalesPerson
PRINT 'Inserting rows into table: SalesPerson'
INSERT INTO [Sales].[SalesPerson] ([BusinessEntityID], [TerritoryID], [SalesQuota], [Bonus], [CommissionPct], [SalesYTD], [SalesLastYear], [rowguid], [ModifiedDate]) VALUES (274, NULL, NULL, 0.0000, 0.0000, 559697.5639, 0.0000, '48754992-9ee0-4c0e-8c94-9451604e3e02', '20101228 00:00:00')
INSERT INTO [Sales].[SalesPerson] ([BusinessEntityID], [TerritoryID], [SalesQuota], [Bonus], [CommissionPct], [SalesYTD], [SalesLastYear], [rowguid], [ModifiedDate]) VALUES (275, 2, 300000.0000, 4100.0000, 0.0120, 3763178.1787, 1750406.4785, '1e0a7274-3064-4f58-88ee-4c6586c87169', '20110524 00:00:00')
INSERT INTO [Sales].[SalesPerson] ([BusinessEntityID], [TerritoryID], [SalesQuota], [Bonus], [CommissionPct], [SalesYTD], [SalesLastYear], [rowguid], [ModifiedDate]) VALUES (276, 4, 250000.0000, 2000.0000, 0.0150, 4251368.5497, 1439156.0291, '4dd9eee4-8e81-4f8c-af97-683394c1f7c0', '20110524 00:00:00')
GO


