-- Foreign Key Constraint Disable's for Table: [Sales].[CountryRegionCurrency]
Print 'Foreign Key Constraint Disable''s for Table: [Sales].[CountryRegionCurrency]'
ALTER TABLE [Sales].[CountryRegionCurrency] NOCHECK CONSTRAINT [FK_CountryRegionCurrency_CountryRegion_CountryRegionCode]
ALTER TABLE [Sales].[CountryRegionCurrency] NOCHECK CONSTRAINT [FK_CountryRegionCurrency_Currency_CurrencyCode]


-- Insert scripts for table: CountryRegionCurrency
PRINT 'Inserting rows into table: CountryRegionCurrency'
INSERT INTO [Sales].[CountryRegionCurrency] ([CountryRegionCode], [CurrencyCode], [ModifiedDate]) VALUES (N'AE', N'AED', '20140208 10:17:21')
INSERT INTO [Sales].[CountryRegionCurrency] ([CountryRegionCode], [CurrencyCode], [ModifiedDate]) VALUES (N'AR', N'ARS', '20140208 10:17:21')
INSERT INTO [Sales].[CountryRegionCurrency] ([CountryRegionCode], [CurrencyCode], [ModifiedDate]) VALUES (N'AT', N'ATS', '20140208 10:17:21')
GO


